@font-face {
  font-family: museo_sans_rounded100;
  src: url(../Fonts/MuseoSansRounded-100.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: museo_sans_rounded300;
  src: url(../Fonts/MuseoSansRounded-300.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: museo_sans_rounded500;
  src: url(../Fonts/MuseoSansRounded-500.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: museo_sans_rounded700;
  src: url(../Fonts/MuseoSansRounded-700.otf) format('opentype');
}
