.footer {
  background-color: $light_white;
  border-top: 1px solid darken($light_white, 10%);
  padding: 4rem 0;
  width: 100%;

  @include atSmall {
    padding: 2rem 0;
  }

  .site-copyright {
    margin-bottom: 1rem;
    text-align: center;
  }

  .follow-us {
    display: block;
    text-align: right;
  }

  .container {
    justify-content: space-between;
    align-items: center;
  }
}
