html,
body {
  color: darken($secondary_color, 8%);
  font-family: $msr300, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}

.text-center {
  text-align: center !important;
}

main,
section {
  padding: 4rem 0;
  width: 100%;
}

.primary-text {
  color: $primary_color;
}
