html,
body {
  color: darken($secondary_color, 8%);
  font-family: $msr300, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}

main,
section {
  padding: 4rem 0;
  width: 100%;
}

// Helper classes
.text-center {
  text-align: center !important;
}
.primary-text {
  color: $primary_color;
}

.flex-item-column-at-small {
  @include atSmall {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
}

.flex-item-column {
  flex-direction: column;
  align-items: center;
}
