.heading {
  color: darken($secondary_color, 20%);
  font-family: $msr500;
  font-size: 1.85rem;
  line-height: 1.4;

  @include atSmall {
    font-size: 1.35rem;
  }

  &-featured {
    font-size: 1.75rem;

    @include atMedium {
      font-size: 2.5rem;
    }
  }

  &-primary {
    color: $primary_color !important;
  }
}
