.icon {
  display: inline-block;
  margin: 0 0.2rem -0.2rem 0;
  height: 1.2rem;
  width: 1.3rem;
  background-repeat: no-repeat !important;

  &-heart {
    background: url('../Icons/ic-heart.svg');
  }

  &-comment {
    background: url('../Icons/ic-comment.svg');
  }

  &-ios,
  &-unicorn {
    background-repeat: no-repeat;
    background-position: 1.25rem !important;
    padding-left: 2.75rem !important;
  }
  &-ios {
    background-image: url('../Icons/ic-apple.svg');
  }

  &-unicorn {
    background-image: url('../Icons/ic-unicorn.svg');
  }

  &-facebook {
    background-image: url('../Icons/ic-facebook.svg');
  }

  &-twitter {
    background-image: url('../Icons/ic-twitter.svg');
  }

  &-instagram {
    background-image: url('../Icons/ic-instagram.svg');
  }
}
