.navbar {
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  width: 30%;
}

.navbar-nav {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  align-items: center;

  li {
    padding: 0.5rem;
  }

  .nav-link {
    font-family: $msr700;
    text-decoration: none;
  }
}
