$white: #ffffff;
$primary_color: #dc4ba3;
$secondary_color: #999999;
$msr100: museo_sans_rounded100;
$msr300: museo_sans_rounded300;
$msr500: museo_sans_rounded500;
$msr700: museo_sans_rounded700;
$msr900: museo_sans_rounded900;
