@font-face {
  font-family: museo_sans_rounded100;
  src: url(../Fonts/MuseoSansRounded-100.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: museo_sans_rounded300;
  src: url(../Fonts/MuseoSansRounded-300.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: museo_sans_rounded500;
  src: url(../Fonts/MuseoSansRounded-500.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: museo_sans_rounded700;
  src: url(../Fonts/MuseoSansRounded-700.otf) format("opentype"); }

@font-face {
  font-family: museo_sans_rounded900;
  src: url(../Fonts/MuseoSansRounded-900.otf) format("opentype"); }

html,
body {
  font-family: museo_sans_rounded300, sans-serif; }

h3 {
  font-size: 1.2rem; }

.text-center {
  text-align: center !important; }

main,
section {
  padding: 4rem 0;
  width: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.icon {
  margin-right: 0.2rem; }

.btn {
  border: none;
  border-radius: 0.2rem;
  background-color: #999999;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: museo_sans_rounded900;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out; }
  .btn:hover {
    background-color: #a6a6a6; }
  .btn-primary {
    background-color: #dc4ba3; }
    .btn-primary:hover {
      background-color: #cc288c; }
  .btn-small {
    background-color: #e6e6e6;
    color: #999999;
    padding: 0.4rem 1rem;
    font-family: museo_sans_rounded300;
    text-transform: capitalize; }
    .btn-small:hover {
      color: #ffffff; }

.navbar {
  width: 100%; }

.logo {
  display: flex;
  align-items: center;
  width: 30%; }

.navbar-nav {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  align-items: center; }
  .navbar-nav li {
    padding: 0.5rem; }
  .navbar-nav .nav-link {
    font-family: museo_sans_rounded700;
    text-decoration: none; }

.container {
  display: flex;
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1236px; }

.heading {
  font-family: museo_sans_rounded500;
  font-size: 1.85rem; }
  .heading-featured {
    font-size: 2.5rem; }
  .heading-primary {
    color: #dc4ba3 !important; }

.hero {
  width: 100%;
  padding: 6rem 0; }
  .hero-content {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }

.hero-title {
  color: #dc4ba3;
  text-align: center;
  font-size: 3.5rem; }

.search-bar {
  width: 100%; }
  .search-bar-input {
    background: url("../Icons/ic-search.svg");
    background-repeat: no-repeat;
    background-position: 1%;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1rem;
    height: 50px;
    padding-left: 25px; }

.blog-featured {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .blog-featured-img, .blog-featured-post {
    width: 50%; }

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .blog-posts .blog-post {
    width: 30%;
    margin: 1rem 0; }
  .blog-posts .loadmore {
    display: block;
    text-align: center;
    margin: 1rem auto auto auto; }

.meta-date {
  color: #b3b3b3;
  font-size: 0.9375rem;
  padding-left: 0.1rem; }

.meta-tag {
  display: flex;
  max-width: 90%;
  padding: 0.75rem 0; }
  .meta-tag .item {
    margin-right: 0.5rem; }

.meta-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  padding: 0.75rem 0; }
  .meta-footer .meta-like {
    margin-right: 0.5rem; }

.footer {
  background-color: #f3f3f3;
  border-top: 1px solid #dadada;
  padding: 4rem 0;
  width: 100%; }
  .footer .follow-us {
    display: block;
    text-align: right; }
  .footer .container {
    justify-content: space-between;
    align-items: center; }
